/* width */
::-webkit-scrollbar {
    width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px var(--boxshadow-color);
    border-radius: 6rem;
    z-index: 5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--special-text-color);
    border-radius: 6rem;
    border: var(--text-stroke-width) solid transparent;
    background-clip: content-box;
    cursor: pointer;
}